<div class="container top-margin">
  <h1>Company Directory</h1>

  <%= search_form_for @search, url: search_profiles_path, method: :post do |f| %>
    <div class="input-group">
      <%= f.text_field :position_or_department_cont, class: 'form-control clearable', placeholder: 'Get acquainted with...' %>
      <span class="input-group-btn">
        <%= button_tag(type: 'submit', class: 'btn btn-default') do %>
          <i class="fa fa-search"></i>
        <% end %>
      </span>
    </div>
  <% end %>

  <br>


  <% @profiles.each do |profile| %>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading"><%= link_to profile.user.first_name + ' ' + profile.user.last_name, profile_path(profile) %></div>
        <div class="panel-body">
          <ul>
            <li><%= image_tag(profile.avatar_l, height: '150') %></li>

            <li><%= profile.position %></li>
            <li><%= profile.department %></li>

          </ul>
        </div>
      </div>
    </div>
  <% end %>

  <br>

</div>
