<p id="notice"><%= notice %></p>

<p>
  <strong>Position:</strong>
  <%= @profile.position %>
</p>

<p>
  <strong>Department:</strong>
  <%= @profile.department %>
</p>

<p>
  <strong>About:</strong>
  <%= @profile.about %>
</p>

<p>
  <strong>Current projects:</strong>
  <%= @profile.current_projects %>
</p>

<p>
  <strong>Karma:</strong>
  <%= @profile.karma %>
</p>

<p>
  <strong>User:</strong>
  <%= @profile.user.first_name + ' ' + @profile.user.last_name %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
