<div class="container top-margin">
  <div id="left" class="col-md-3">
    <div class="well">
      <div id="basic_info">
      <%= image_tag( @profile.avatar_l, class: "center-block img-responsive img-circle")%>
  	  <h4 class="Name"><%= @profile.user.first_name %> <%= @profile.user.last_name %></h4>
      <div class="position"><%= @profile.position %> </div>
      <div class="department"><%= @profile.department %></div>
      <div class="joined">Joined <%= @profile.user.created_at.year %> | 43 <%= icon('star')%></div>
      <%= link_to 'Send message', new_message_path(to: @profile.user.id), class: 'btn btn-warning btn-sm sendmsg', "data-toggle" => "modal", 'data-target' => '#msgmodal'%>
      </div>
    </div>

    <div id="org_chart" class="well">
      <b>Organization Chart</b>
    <img src="<%= asset_path( 'acquainted-06.png' ) %>" class="img-responsive center-block">
    </div>
  </div>

  <div class="col-md-6">
    <div class="about well">
  	  <div id="bio">
  		  <h4 class="title">Bio</h4>
  		  <p><%= @profile.about %></p>
  	  </div>
  	  <div class="ask_me">
  		  <h4 class="title">Ask Me About</h4>
        <label class="label label-default">Android Development</label>
        <label class="label label-default">Java</label>
        <label class="label label-default">iOS Development</label>
        <label class="label label-default">Web Services</label>
  	  </div>

  	  <div id="position_history">
  	    <div class="position">
  	    <h4 class="current title">Current Position</h4>
  	    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris laoreet tortor dolor, quis blandit ligula rhoncus sit amet. Ut tincidunt ante urna, vel commodo tortor feugiat ac.
  	    </div>
  	    <div class="position">
  	    <h4 class="title">Past Position</h4>
  	    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris laoreet tortor dolor, quis blandit ligula rhoncus sit amet. Ut tincidunt ante urna, vel commodo tortor feugiat ac.
  	    </div>
  	    <div class="position">
  	    <h4 class="title">Past Position</h4>
  	    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris laoreet tortor dolor, quis blandit ligula rhoncus sit amet. Ut tincidunt ante urna, vel commodo tortor feugiat ac.
  	     </div>
  	  </div>

    </div>
  </div>

  <div id="right" class="col-md-3">
    <div id="calendar-well" class="well">
      Calendar
      <div class="calender">
        <div id="calendar"></div>
      </div>
      <%= image_tag 'acquainted-09.png', class: 'img-responsive'%><br>
      I prefer to be reached by:<br>
      <%= icon('phone')%> (347) 435-8904
    </div>
  </div>
</div>


<div class="modal fade" id="msgmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"><%= form_tag messages_path, method: :post do %>

  <div class="modal-dialog">
      <div class="form-group">
        <%= label_tag 'message[subject]', 'Subject' %>
        <%= text_field_tag 'message[subject]', nil, class: 'form-control', required: true %>
      </div>

      <div class="form-group">
        <%= label_tag 'message[body]', 'Message' %>
        <%= text_area_tag 'message[body]', nil, cols: 3, class: 'form-control', required: true %>
      </div>

      <%= submit_tag 'Send', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
