<div class="splash">
  <div class="row">
    <div id="tag" class="col-sm-6 col-sm-offset-3">Get Acquainted <br>with Your Company!</div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4 form">    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <%= f.text_field :first_name, required: true, autofocus: true, :placeholder => "First Name", value: 'Jennifer', :class => "form-control"%>

      <%= f.text_field :last_name, required: true, :placeholder => "Last Name", value: 'Superstar', :class => "form-control"%>

      <%= f.email_field :email, required: true, :placeholder => "Email Address", value: 'jsuperstar@newcompany.com', :class => "form-control"%>

      <%= f.password_field :password, required: true, :placeholder => "password", value: 'testing1', :class => "form-control" %>
      <% if @validatable %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>

        <%= f.password_field :passwor_confirmation, required: true, :placeholder => "confirm password", value: 'testing1', :class => "form-control", autocomplete: "off" %>

      <div class="actions">
          <%= f.submit "Sign Up", class: 'btn-primary login' %>
      </div>
    <% end %>

  </div>
</div>
