<div id="inbox" class="container">
  <div class="row">
      <ul class="nav nav-tabs">
        <%= mailbox_section 'inbox', @box %>
        <%= mailbox_section 'sent', @box %>
        <%= mailbox_section 'trash', @box %>
      </ul>

      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th class="conv_subject">Subject</th>
            <th class="conv_participants">Participants</th>
            <th class="conv_body">Body</th>
            <th class="conv_actions"></th>
          </tr>
        </thead>      
        <%= render partial: 'conversations/conversation', collection: @conversations %>
      </table>

      <%= will_paginate %>

      <% if @box == 'trash' %>
        <p class><%= link_to 'Empty trash', empty_trash_conversations_path, class: 'label label-danger empty_trash', method: :delete,
                       data: {confirm: 'Are you sure?'} %></p>
      <% end %>
    </div>
</div>
