<div id="inbox" >
  <div class="row">
      <ul class="nav nav-tabs">
        <%= mailbox_section 'inbox', @box %>
        <%= mailbox_section 'sent', @box %>
        <%= mailbox_section 'trash', @box %>
      </ul>

      <% if @box == "inbox" %>
          current_user.mailbox.inbox
      <% elsif @box == "sent" %>
          current_user.mailbox.setbox
      <% elsif @box == 'trash' %>
        <p><%= link_to 'Empty trash', empty_trash_conversations_path, class: 'btn btn-danger', method: :delete,
                       data: {confirm: 'Are you sure?'} %></p>

        current_user.mailbox.trash
      <% end %>
      <ul class="list-group">
        <%= render partial: 'conversations/conversation', collection: @conversations %>
      </ul>

      <%= will_paginate %>
    </div>

</div>
