<!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="<%= asset_path( 'acquainted_logo.png' ) %>" class="logo"></a>
        </div>

          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
            <li>
              <a href="/profiles">
                <%= icon('search') %>
              </a>
            </li>
            <li>
              <a href="#">
                <%= icon('calendar') %>
              </a>
            </li><li>
              <a href="<%=conversations_path%>">
               <%= icon('envelope') %>
              </a>
            </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              Hello, <%= current_user.first_name %>!
             <span class="caret"></span>
             <span class="thumb-sm avatar pull-right">
               <% if current_user.profile %>
                <%= image_tag( current_user.profile.avatar_s, height: 32, class: 'img-circle') %>
                <% end %>
             </span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <% if current_user.profile %>
                <li><%= link_to 'My Profile', profile_path(current_user.profile) %></li>
                <li><%= link_to 'Edit Profile', edit_profile_path(current_user.profile) %></li>
              <% end %>
              <li><%= link_to 'Change Password', edit_registration_path(current_user) %></li>
              <li class="divider"></li>
              <li><%= link_to('<i class="fa fa-cog"></i> Log Out'.html_safe, destroy_user_session_path, method: :delete) %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to('Log In', new_user_session_path)  %></li>
          <li><%= link_to('Sign Up', new_user_registration_path)  %></li>
        <% end %></ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
